@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;

  --foreground-dark-rgb: 255, 255, 255;
  --background-dark-rgb: 34, 0, 61;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
